<app-custom-header></app-custom-header>
<ion-content>
    <ion-list inset>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/ribisachi.jpg">
            </ion-avatar>
            <!-- <h2>sott miller</h2> -->
             <span class="span-name" item-start>sott miller</span>
             <span class="span-local"  >Korea Seoul</span>
            <button ion-button clear icon-only item-end><ion-icon name="md-radio-button-on"></ion-icon></button>
        </ion-item>
        <ion-item>
            <ion-avatar item-start>
                <img src="assets/imgs/kimngan.jpg">
            </ion-avatar>
            <span class="span-name" item-start>sami</span>
             <span class="span-local" >HCM.VN</span>
        </ion-item>
    </ion-list>
</ion-content>
