    .scroll-content{
        margin-top: 10.5vh;
    }
    .item{
        padding-left: 0 !important;
    }
    .item ion-avatar img{
        width: 60px !important;
        height: 60px !important;
    }
    .item-ios h2 {
        font-weight: 500 !important;
    }
    .label{
        max-width: 25vw !important;
    }
    span{
        font-size: .9em !important;
        margin-right: 0 !important;
        margin-left: 0 !important
    }
    .span-name{
        font-weight: 500;
        width: 25vw;
    }
    .span-local{
        font-weight: 300;
        width: 25vw;
    } 
