<app-custom-header></app-custom-header>
<ion-content padding>
       <div class="custon-content">
        <div class="info-facebook">
            <img src="assets/imgs/ribisachi.jpg">
            <div class="info-facebook-right">
                <ion-card>
                  <ion-card-content>
                        <ion-card-title>sott miller</ion-card-title>
                            <p>Vietnamese Korean English</p>
                            <p>Free Helper</p> 
                            <p>Pays on you</p>
                            <p>Airport</p>
                            <p>ABOUT</p>
                            <p>Pick up airport. Food. Night life</p>
                    </ion-card-content>
                    
                </ion-card>
                <ion-item>
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="chatboxes"></ion-icon>
                </ion-item>
            </div>
            <div class="info-facebook-bot">
              <p>Hi i am sott miller.</p>
              <p>I want to show you around my city. ask me anythings.</p> 
            </div>
        </div>
  
          <div class="Homestay">
            <div class="homestay-top">
                <p>Homestay</p>
            </div>
            <div class="homestay-content">
                <img  src="assets/imgs/trip.jpg"> 
                <div class="homestay-right">
                    <p>$15/day</p>
                    <p>breakfast included.</p> 
                    <p>$10/meal</p>
                    <p>Free Wifi</p>
                </div>
                <div class="Homestay-bot">
                  <p>Reviews</p>
                  <p>Hana Thanks sott. it was so helpful to me to meet you there </p> 
                  <p>Simson I will guide you when you come to my place</p> 
                </div>
            </div>
          </div>
    </div> 
  
</ion-content>